.modal {
  position: relative;
  z-index: 10;

  .modal-background {
    position: fixed;
    background-color: rgba(107, 114, 128, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    overflow-y: auto;

    .modal-content-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      .modal-content {
        position: relative;
        background-color: white;
        border-radius: 0.375rem;
        overflow: hidden;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
          width: 80%;

        .content {
          background-color: white;
          padding: 2rem;
          color: $mainGray;
          white-space: pre;
        }
      }
    }
  }
}
