.modal {
  position: relative;
  z-index: 10;

  .modal-background {
    position: fixed;
    background-color: rgba(107, 114, 128, 0.75);
    inset: 0px;
  }

  .modal-container {
    position: fixed;
    inset: 0px;
    z-index: 10;
    width: 100vw;
    overflow-y: auto;

    .modal-content-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      .modal-content {
        position: relative;
        background-color: #23241f;
        padding: 2rem;
        border-radius: 0.375rem;
        height: 50rem;
        overflow: auto;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
          0 2px 4px -2px rgb(0 0 0 / 0.1);
        width: 80%;

        .content {
          background-color: #23241f;
          border: 1px solid white;
          border-radius: 0.375rem;
          padding: 2rem;
          color: white;
          white-space: pre;

          .identation {
            padding-left: 1.25rem;
          }

          .key {
            color: #c2255d;
          }

          .yellow {
            color: #d3c96c;
          }

          .purple {
            color: #8364b9;
          }

          .footer {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 65%;
            left: 80%;
            button {
              cursor: pointer;
              border-radius: 0.375rem;
              padding: 1rem;
              background-color: #3e3f3a;
              color: white;
              border: none;
              align-self: self-end;

              &:focus-visible {
                outline: #3e3f3a solid 0.125rem;
                outline-offset: 0.125rem;
              }

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
